body {
  background: rgb(41, 41, 41);
  text-align: center;
}
h1 {
  color: white;
  font-size: 45px;
}
h2 {
  color: white;
  font-size: 30px;
}

a {
  color: white;
}

iframe {
  border-radius: 30px;
}
